<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">nerd</span><span class="main-header__title--orange">Things</span>
  </h1>
  <div class="container-menu">
    <nav class="main-header__menu">
      <ul>
        <li><a href="">Produtos</a></li>
        <li>
          <a href="">
            <fa-icon [icon]="faShoppingCart"></fa-icon>
            Carrinho
            <span class="badge-carrinho">{{carrinhoService.obtemCarrinho().length}}</span>
          </a>
        </li>
        <li><a href="">Contato</a></li>
        <li><a href=""><fa-icon [icon]="faFacebook"></fa-icon></a></li>
        <li><a href=""><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        <li><a href=""><fa-icon [icon]="faTwitter"></fa-icon></a></li>
        <li><a href=""><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
      </ul>
    </nav>
    <app-barra-pesquisa></app-barra-pesquisa>
  </div>
</header>
